﻿@if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "success")
{
    <div class="alert alert-success" role="alert">
        Всі записи було збережено
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "empty")
{
    <div class="alert alert-warning" role="alert">
        Файл не знайдено
    </div>
}
<form method="post" enctype="multipart/form-data">
          <div class="row">
              <label> Виберть Excel файл</label>
              <input type="file" name="file"/>
              </div>
              <br/>
              <div class="row">
                  <div class="col-3">
                      <input type="submit" asp-controller="Home" asp-action="UploadExcel" class=" btn btn-dark" value="Upload Excel File" />
                  </div>

              </div>
</form>
<p> Завантажити інформацію про продукцію</p>
<a class="btn btn-primary mb-3" type="=submit" asp-area="" asp-controller="Home" asp-action="Export">Експортувати</a>
